{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-7">
                <div class="card border-white">
                    <div class="card-body p-5 text-left">
                        <div class="mb-md-5 mt-md-5">

                            <form method="POST" class="row fs-5">

                                <h2>Редактировать профиль</h2>
                                {% csrf_token %}

                                <div class="mt-5 mb-4">
                                    <label for="username" class="form-label">Имя пользователя</label>
                                    <input class="form-control" type="text" maxlength="30" value="{{ username }}" name="formUsername" id="username" required>
                                </div>

                                <div class="mb-4 col-md-6">
                                    <label for="Email" class="form-label">Почта</label>
                                    <input class="form-control" id="Email" type="email" maxlength="30" value="{{ email }}" name="formEmail">
                                </div>

                                <div class="mb-4 col-md-6">
                                    <label for="Phone" class="form-label">Телефон</label>
                                    <input class="form-control" id="Phone" type="text" maxlength="30" value="{{ phone }}" name="formPhone">
                                </div>

                                <div class="mb-4 col-md-4">
                                    <label for="firstname" class="form-label">Имя</label>
                                    <input class="form-control" id="firstname" type="text" maxlength="30" value="{{ first_name }}" name="formFirst">
                                </div>

                                <div class="mb-4 col-md-4">
                                    <label for="middlename" class="form-label">Отчество</label>
                                    <input class="form-control" id="middlename" type="text" maxlength="30" value="{{ middle_name }}" name="formMiddle">
                                </div>

                                <div class="mb-4 col-md-4">
                                    <label for="lastname" class="form-label">Фамилия</label>
                                    <input class="form-control" id="lastname" type="text" maxlength="30" value="{{ last_name }}" name="formLast">
                                </div>

                                <div class="mb-4 col-md-6">
                                    <label for="Country" class="form-label">Страна</label>
                                    <input class="form-control" id="Country" type="text" maxlength="30" value="{{ country }}" name="formCountry">
                                </div>

                                <div class="mb-4 col-md-6">
                                    <label for="City" class="form-label">Город</label>
                                    <input class="form-control" id="City" type="text" maxlength="30" value="{{ city }}" name="formCity">
                                </div>

                                <div class="mt-5 mb-4 col-md-6">
                                    <a class="btn btn-secondary fs-5 col-md-12" href="/profile" role="button">Отмена</a>
                                </div>

                                <div class="mt-5 mb-4 col-md-6">
                                    <button type="submit" class="btn btn-primary fs-5 col-md-12">Сохранить</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
