{% extends 'base.html' %}
{% load static %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/styles.css'%}">

    <div class="image-container text-center">
        <h1 class="image-text text-light">Домовой</h1>
        <h2 class="image-text text-light">Сервис для бронирования жилья</h2>
    </div>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            {% comment %} add style {% endcomment %}

            {% if found_offer_city and offers_count > 0 %}
                <h3>По запросу {{ found_offer_city }}, {{ found_offer_type }} было найдено {{ offers_count }} объявлений.</h3>
            {% elif offers_count == 0 %}
                <h3>Извините, по запросу {{ found_offer_city }}, {{ found_offer_type }} ничего не найдено.</h3>
            {% else %}
                <h3>Что конкретно вы хотели найти?<br> Вот все наши предложения типа "{{ found_offer_type }}".</h3>
                <br>
            {% endif %}

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-4">
                {% for home in offers %}
                    <a href="{% url 'entity_detail' home.id %}" class="text-muted text-decoration-none">
                        <div class="col">
                            <div class="card shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="200" src="{% static 'img/image.svg'%}"/>
                                <div class="card-body">
                                    <h6 class="card-title pricing-card-title">{{ home.price }} ₽/сутки</h6>
                                    <div class="d-flex align-items-left">
                                        <p class="card-text">{{home.name}} &nbsp;</p>
                                        <p class="card-text">{{home.type}}</p>
                                    </div>
                                    <small class="text-body-secondary">{{ home.country }}, {{home.city}}, {{ home.address }}</small>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
